__pycache__
.env
.venv
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.csv
*.xlsx
*.json
*.xml
*.pickle
*.pkl
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.idea/
*.vscode/
*.egg-info/
*.eggs/
*.dist-info/
*.coverage
*.tox/
.pytest_cache/